{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-prisma",
    "prettier-plugin-nginx",
    "prettier-plugin-embed",
    "prettier-plugin-sql"
  ],
  "overrides": [
    {
      "files": [
        "./nginx/nginx.conf",
        "./nginx-waf/nginx.conf"
      ],
      "options": {
        "parser": "nginx"
      }
    }
  ],
  "keywordCase": "upper"
}